In [2]:
import pandas as pd

all_data = pd.read_excel('All Events.xlsx',sheet_name = 'Sensor Glucose')

In [3]:
all_data

          EventDateStr EventTimeStr  Value UnitMeasureVal  SensorID
0       23-August-2024     06:09 PM   10.7         mmol/L    427076
1       23-August-2024     06:04 PM   10.7         mmol/L    427076
2       23-August-2024     05:59 PM   10.7         mmol/L    427076
3       23-August-2024     05:54 PM   10.7         mmol/L    427076
4       23-August-2024     05:49 PM   10.5         mmol/L    427076
...                ...          ...    ...            ...       ...
101677  24-August-2023     12:22 AM    7.9         mmol/L    293783
101678  24-August-2023     12:17 AM    8.0         mmol/L    293783
101679  24-August-2023     12:12 AM    8.4         mmol/L    293783
101680  24-August-2023     12:07 AM    8.7         mmol/L    293783
101681  24-August-2023     12:02 AM    9.2         mmol/L    293783

[101682 rows x 5 columns]